.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
.bodyrow{
  padding: 40; 
  background-repeat: no-repeat;
  background-size: 100%,100%;
  -moz-background-size: 100%,100% ;
  background-image: url(/bac.jpg);
  background-color: rgb(0,1,32);
  height: 620px;
}